<div>
  <ul class="list-inline comments">
    <li><span class="votes"><%= comment.votes %><span></li>
    <li><%= button_to "▴", {
        action: :upvote,
        controller: "comments",
        deal_id: comment.deal.id,
        id: comment.id
      }, class: "btn btn-xs upvote" %>
    </li>
    <li><%= button_to "▾", {
        action: :downvote,
        controller: "comments",
        deal_id: comment.deal.id,
        id: comment.id
      }, class: "btn btn-xs downvote" %>
    </li>
    <li>
      <%= link_to comment.body, deal_comment_url(comment.deal.id, comment.id) %>
    </li>
  <ul>
</div>

<ul>
  <% comments_by_parent[comment.id].each do |child_comment| %>
    <li>
      <%= render "comments/comment", comment: child_comment, comments_by_parent: comments_by_parent %>
    </li>
  <% end %>
</ul>