<div class="container panel panel-default">
  <h1><%= deal.escape('title') %></h1>
  <img src="<%= deal.escape('image_url') %>" class="deal-image">
  <p><span class="votes"><%= deal.escape('votes') %></span><a href="<%= deal.escape('url') %>"><%= deal.escape('title') %></a></p>
  <p><%= deal.escape('description') %></p>
  <p>Categories:
    <% deal.categories().each(function (category) { %>
      <%= category.escape('name') %>
    <% }); %>
  </p>

<button class="btn btn-default deal-upvote">▴</button>
<button class="btn btn-default deal-downvote">▾</button>

</div>

<h3>Comments</h3>

<button class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Comment on this deal!</button>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>

<div class="container">
  <ul class="comment-items"></ul>
</div>