<div class="container panel panel-default">
  <h1><%= deal.escape('title') %></h1>
  <img src="<%= deal.escape('image_url') %>" class="deal-image">
  <p>
    <span class="votes deal-votes">
      <% if (deal.get('votes') > 0) { %>+<% } %><%= deal.get('votes') %></span>
    <a href="<%= deal.escape('url') %>">
      <%= deal.escape('title') %>
    </a>
  </p>
  <p><%= deal.escape('description') %></p>
  <p>Categories:
    <% deal.categories().each(function (category) { %>
      <%= category.escape('name') %>
    <% }); %>
  </p>

<button class="btn btn-default deal-upvote">▴</button>
<button class="btn btn-default deal-downvote">▾</button>

</div>

<h3>Comments</h3>

<button class="btn btn-primary btn-open-post-comment-modal" data-toggle="modal">Comment on this deal!</button>

<div class="modal fade post-deal-comment-modal" tabindex="-1" role="dialog" aria-labelledby="postCommentLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="postCommentLabel">Post Comment</h4>
      </div>
      <div class="modal-body clearfix">
      
        <form class="form-horizonal col-xs-6 deal-post-comment" role="form">
          <textarea name="comment[body]" placeholder="Comment on this Deal!" class="form-control deal-comment-body"></textarea> 

          <input type="submit" class="btn btn-default">
        </form>

      </div>

    </div>
  </div>
</div>

<div class="container">
  <ul class="comment-items"></ul>
</div>