<div>
  <ul class="list-inline comments">
    <li>
      <!-- fix later: fix slight inefficiency -->
      <span class="votes comment-<%= comment.get('id') %>-votes">
        <% if (comment.get('votes') > 0) { %>+<% } %><%= comment.get('votes') %></span>
    </li>
    <!-- fix later: make consistent with upvote/downvote deals -->
    <li>
      <button class="btn btn-xs comment-upvote comment-<%= comment.get('id') %>-upvote
        <% if (comment.userVote.get('value') === 1) { %>
          upvoted
        <% } %>
      ">▴
      </button>
    </li>
    <li>
      <button class="btn btn-xs comment-downvote comment-<%= comment.get('id') %>-downvote
        <% if (comment.userVote.get('value') === -1) { %>
          downvoted
        <% } %>
      ">▾
      </button>
    </li>
    <li>
      <%= comment.escape('body') %>
    </li>
    <li>

      <button class="btn btn-primary" data-toggle="modal" data-target=".post-reply-modal-<%= comment.get('id') %>">Reply</button>

      <div class="modal fade post-reply-modal-<%= comment.get('id') %>" tabindex="-1" role="dialog" aria-labelledby="replyLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h4 class="modal-title" id="replyLabel">Reply</h4>
            </div>
            <div class="modal-body clearfix">

                <form class="form-horizonal col-xs-6 deal-post-comment" role="form">
                  <textarea name="comment[body]" placeholder='Reply to "<%= comment.escape('body') %>"' class="form-control comment-body"></textarea> 

                  <input type="submit" class="btn btn-default">
                </form>

            </div>
          </div>
        </div>
      </div>

    </li>
  <ul>
</div>

<ul class="comment-items-<%= comment.get('id') %>"></ul>