<div class="comment-container">
    <!-- fix later: make consistent with upvote/downvote deals -->
    <div class="btn-group-vertical">
      <button class="btn-vote comment-upvote comment-<%= comment.get('id') %>-upvote
        <% if (comment.userVote.get('value') === 1) { %>
          upvoted
        <% } %>
      "><span class="glyphicon glyphicon-circle-arrow-up"></span>
      </button>
      <button class="btn-vote comment-downvote comment-<%= comment.get('id') %>-downvote
        <% if (comment.userVote.get('value') === -1) { %>
          downvoted
        <% } %>
      "><span class="glyphicon glyphicon-circle-arrow-down"></span>
      </button>
    </div>
    <!-- fix later: fix slight inefficiency -->
    <span class="votes-text comment-<%= comment.get('id') %>-votes">
      <% if (comment.get('votes') > 0) { %>+<% } %><%= comment.get('votes') %></span>
    <div class="comment-body-container">
      <%= comment.escape('body') %>
    </div>
    <button class="btn btn-primary btn-xs btn-comment-reply" data-toggle="modal" data-target=".post-reply-modal-<%= comment.get('id') %>">Reply</button>

    <div class="modal fade post-reply-modal-<%= comment.get('id') %>" tabindex="-1" role="dialog" aria-labelledby="replyLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="replyLabel">Reply</h4>
          </div>
          <div class="modal-body clearfix">

              <form class="form-horizonal col-xs-6 deal-post-comment" role="form">
                <textarea name="comment[body]" placeholder='Reply to "<%= comment.escape('body') %>"' class="form-control comment-body"></textarea> 

                <input type="submit" class="btn btn-default">
              </form>

          </div>
        </div>
      </div>
    </div>

</div>

<ul class="comment-items-<%= comment.get('id') %>"></ul>