<h1>Edit Deal</h1>

<form action="<%= deal_url(@deal) %>" method="post">
  <%= auth_token_helper %>
  <input type="hidden" name="_method" value="patch">
  <label>URL
    <input type="text" name="deal[url]" value="<%= @deal.url %>">
  </label>
  <br>
  <label>Title
    <input type="text" name="deal[title]" value="<%= @deal.title %>">
  </label>
  <br>
  <label>Description
    <textarea name="deal[description]"><%= @deal.description %></textarea>
  </label>
  <br>
  <label>Image URL
    <input type="text" name="deal[image_url]" value="<%= @deal.image_url %>">
  </label>
  <br>

  <input type="submit" value="Edit Deal">
</form>