<!DOCTYPE html>
<html>
<head>
  <title>hotdealio!</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right nav-account-items">
      <% if current_user %>
        <li>Welcome, <span class="text-username"><%= current_user.username %></span>!</li>
        <li><%= button_to "Sign Out", session_url, method: :delete, class: "btn btn-xs btn-white" %></li>
      <% else %>
        <li><%= button_to "Sign Up", new_user_url, method: :get, class: "btn btn-xs btn-white" %></li>
        <li><%= button_to "Sign In", new_session_url, method: :get, class: "btn btn-xs btn-white" %></li>
      <% end %>
    </ul>
  </div>
</nav>

<div class="container header">
  <nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
      <li>
        <a href="<%= root_url %>">
          <%= image_tag "hotdealio-logo.png", class: "logo" %>
        </a>
      </li>
      <li>
      <nav class="navbar navbar-default category-items" role="navigation">
        <ul class="nav navbar-default navbar-nav">
        <% Category.all.each do |category| %>
          <li>
            <%= link_to category.name, category_url(category) %>
          </li>
        <% end %>
        </ul>
      </nav>
      </li>
    </ul>
    <div class="pull-right">
      <%= button_to "Post New Deal", new_deal_url, method: :get, class: "btn btn-lg btn-blue pull-right btn-post-new-deal" %>
    </div>
  </nav>
</div>

<div class="container">
  <% flash[:errors].try(:each) do |error| %>
    <div class="alert alert-danger">
      <%= error %>
    </div>
  <% end %>

  <% unless flash[:notice].nil? %>
    <div class="alert alert-info">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <div class="container">
  <%= yield %>
  </div>
</div>

</body>
</html>
