<!DOCTYPE html>
<html>
<head>
  <title>hotdealio!</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right nav-account-items">
      <% if current_user %>
        <li><span class="navbar-text-welcome">Welcome, <span class="navbar-text-username"><%= current_user.username %></span>!</span></li>
        <li><%= button_to "Sign Out", session_url, method: :delete, class: "btn btn-xs btn-white" %></li>
      <% else %>
        <li>
          <button class="btn btn-xs btn-white btn-sign-in"
            href="#signin" data-toggle="modal"
            data-target=".bs-modal-sm" data-toggle="popover">
            Sign In
          </button>
        </li>
        <li>
          <button class="btn btn-xs btn-white btn-sign-up"
            href="#signup" data-toggle="modal"
            data-target=".bs-modal-sm" data-toggle="popover">
            Sign Up
          </button>
        </li>
      <% end %>
    </ul>
  </div>
</nav>



  <div class="container">
  <%= yield %>
  </div>



<div class="modal fade bs-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <br>
        <div class="bs-example bs-example-tabs">
            <ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#signin" data-toggle="tab">Sign In</a></li>
              <li class=""><a href="#signup" data-toggle="tab">Sign Up</a></li>
            </ul>
        </div>
      <div class="modal-body">
        <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="signin">
            <form class="form-horizontal" action="<%= session_url %>" method="post">
              <%= auth_token_helper %>
            <fieldset>
            <!-- Sign In Form -->
            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="userid">Username:</label>
              <div class="controls">
                <input required="" id="userid" name="user[username]" type="text" class="form-control" placeholder="username" class="input-medium" required="">
              </div>
            </div>

            <!-- Password input-->
            <div class="control-group">
              <label class="control-label" for="passwordinput">Password:</label>
              <div class="controls">
                <input required="" id="passwordinput" name="user[password]" class="form-control" type="password" placeholder="******" class="input-medium">
              </div>
            </div>

            <!-- Button -->
            <div class="control-group">
              <label class="control-label" for="signin"></label>
              <div class="controls">
                <input type="submit" class="btn btn-success" value="Sign In">
              </div>
            </div>
            </fieldset>
            </form>
        </div>
        <div class="tab-pane fade" id="signup">
            <form class="form-horizontal" action="<%= users_url %>" method="post">
              <%= auth_token_helper %>
            <fieldset>
            <!-- Sign Up Form -->
            <!-- Text input-->
            
            <!-- Text input-->
            <div class="control-group">
              <label class="control-label" for="userid">Username:</label>
              <div class="controls">
                <input id="userid" name="user[username]" class="form-control" type="text" placeholder="username" class="input-large" required="">
              </div>
            </div>
            
            <!-- Password input-->
            <div class="control-group">
              <label class="control-label" for="password">Password:</label>
              <div class="controls">
                <input id="password" name="user[password]" class="form-control" type="password" placeholder="******" class="input-large" required="">
              </div>
            </div>
         
            <!-- Button -->
            <div class="control-group">
              <label class="control-label" for="confirmsignup"></label>
              <div class="controls">
                <input type="submit" class="btn btn-success" value="Sign Up">
              </div>
            </div>
            </fieldset>
            </form>
      </div>
    </div>
      </div>
      <div class="modal-footer">
      <center>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </center>
      </div>
    </div>
  </div>
</div>

<script>
  //selects the proper tab on sign in / sign up modal
  $('.btn-sign-in').on('click', function () {
    $('#myTab a[href="#signin"]').tab('show');
  })
  $('.btn-sign-up').on('click', function () {
    $('#myTab a[href="#signup"]').tab('show');
  })

  <% unless flash[:sign_up].nil? %>
    $('.btn-sign-up').popover({
      title: "Error",
      content: "<%= flash[:sign_up].try(:join, '<br>') %>",
      placement: 'bottom'
    })
    $('.btn-sign-up').popover('show');

    setTimeout((function () {
      $('.btn-sign-up').popover('destroy')
    }), 6000);
  <% end %>

  <% unless flash[:sign_in].nil? %>
    $('.btn-sign-in').popover({
      title: "Error",
      content: "<%= flash[:sign_in].try(:join, '<br>') %>",
      placement: 'bottom'
    })
    $('.btn-sign-in').popover('show')

    setTimeout((function () {
      $('.btn-sign-in').popover('destroy')
    }), 6000);
  <% end %>

  $('.comment-container').hover(function () {
    $(this).find(".btn-comment-reply").show();
  }, function () {
    $(this).find(".btn-comment-reply").hide();
  });
</script>

</body>
</html>